$bg-primary: rgb(188, 236, 192);
$bg-secondary: #fff;
$bg-dark-primary: rgb(64, 128, 69);
$bg-dark-secondary: rgb(163, 204, 167);

$color-primary: #6C757D;
$color-primary-dark: #424242;
$color-primary-extra-dark: #2d2d2d;
$color-secondary: #fff;

$font-size-xs: 15px;
$font-size-sm: 16px;
$font-size-md: 17px;
$font-size-lg: 18px;
$font-size-xl: 20px;

// Responsesive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
$media-breakpoint-down-xxl: 1699.98px;

// Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
$media-breakpoint-up-xxl: 1600px;